/**/

img {
    max-width: 100%;
}
.section_padding {
    width: 100%;
    display: block;
    padding: 100px 0;
}
.explore_section {
    background-color: #fff8ed;
}

.title_green h1 {
    color: #a1cc39;
    font-size: 70px;
}

.title_1 .title-tags {
    font-size: 23px;
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    color: #7d7d7d;
    margin-bottom: 40px;
    margin-top: 20px;
}
.btn-buzz.btn_xl {
    font-size: 23px;
    padding: 16px 40px !important;
}
.pt0 {
    padding-top: 0px;
}
.pb0 {
    padding-bottom: 0px;
}
.p0 {
    padding: 0px;
}
.middle_text h2 {
    font-size: 29px;
    color: #b08054;
    text-align: center;
}
.lft_img {
    margin-bottom: 350px;
}
.rgt_img {
    margin-top: 350px;
    float: right;
}

.column_section {
}
.column_section .row {
}
.column_section .row .col {
    width: 100%;
    float: left;
    text-align: center;
}
.column_section .row .col .column_img {
    margin-bottom: -385px;
}
.column_section .row .col .column_img img {
    width: 100%;
}
.column_section .row .col .column_img + img {
}
.column_section .row .col:first-child {
    background-color: #f8c810;
}
.column_section .row .col:nth-child(2) {
    background-color: #e6275e;
}
.column_section .row .col:nth-child(3) {
    background-color: #8bd5e4;
}
.column_section .row .col:nth-child(4) {
    background-color: #e09eb8;
}
.column_section .row .col:nth-child(5) {
    background-color: #90b926;
}

.websitedesign,
.socialmediadesign {
    background-color: #fff8ed;
}
.socialmediadesign .title_1 {
    margin-bottom: 100px;
}
.page_banner {
    margin-bottom: -130px;
}
.mid_section {
    overflow: hidden;
}

video {
    width: 100%;
}
